*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Yantramanav;
}

/* color */
:root {
	--color-nav: #255ee9;
	--color-primary-color: #ffffff;
	--color-secondary-color: #23272a;
	--color-section-color: #f6f6f6;
	--color-footer-color: #5765F2;
}

.container{
    max-width: 1200px;
    min-width: 400px;
    width: 80%;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
}
.nav-flex{
    justify-content: space-between;
    align-items: center;
}
.button{
    border-radius: 30px;
    padding: 15px 25px;
    margin-right: 10px;
    min-width: 100px;
}
.but a:hover{
    box-shadow: 0px 2px 30px -9px #303338;
}
#color-grey:hover{
    color: var(--color-primary-color);
    background-color: #303338;
}
.bg-violet:hover{
    background-color: #7983F5;
}
.color-violet:hover{
    color: var(--color-footer-color);
}
.small-button{
    font-size: 15px;
    padding: 10px 20px;
}
.big-button{
    font-size: 20px;
}
.title{
    font-size: 55px;
    padding-top: 30px;
}
.small-text{
    line-height: 1.8em;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
}
i{
    padding-right: 5px;
}

/* header */
.first-page header{
    background-image: url("../img/jumbo.png");
    min-height: 400px;
    background-size: cover;
}
h1{
    font-size: 3em;
}
.first-page nav{
    background-color: var(--color-nav);
    padding: 25px;
    color: var(--color-primary-color);
}
nav ul{
    list-style: none;
    display: flex;
}
.underline:hover{
    text-decoration: underline;
    color: var(--color-primary-color);
}
a{
    color: var(--color-primary-color);
    padding: 15px;
}
a, a:hover{
    text-decoration: none;
}
.intro{
    text-align: center;
    color: white;
    padding: 100px;
}
.container-intro{
    max-width: 783px;
    margin: 0 auto;
}
.b-white{
    background-color: var(--color-primary-color);
    color: var(--color-secondary-color);
}
.b-black{
    background-color: var(--color-secondary-color);
    color: var(--color-primary-color);
}
.b-violet{
    background-color: var(--color-footer-color);
    color: var(--color-primary-color);
}
.b-set{
    padding: 20px;
}

/* header dowloand page */
.download header{
    background-color: #23272A;
    color: var(--color-primary-color);
}
.download nav{
    padding: 25px;
}
.computer{
    width: 80%;
}
.computer img{
    width: 700px;
    padding-top: 20px;
}
.padding-left{
    padding-left: 12%;
    padding-top: 40px;
}
.download-intro h1{
    font-size: 3.5em;
    line-height: 1em;
    font-weight: 900;
    text-transform: uppercase;
}
/* main */
.padding{
    padding-top: 80px;
    padding-bottom: 60px;
}
.bg-grey{
    background-color: var(--color-section-color);
}
.wave{
    opacity: 0.03;
}
.wave img{
    display: block;
}
.invert img{
    transform: scale(1,-1);
}
.flex-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}
.reverse{
    flex-direction: row-reverse;
}
.section-img{
    width: 60%;
    max-width: 1200px;
    min-width: 600px;
}
main img{
    width: 100%;
    min-width: 100%;
}
.section-text{
    width: 40%;
}
.four-section .text, h3{
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}

.four-section img{
    width: 100%;
    margin: 0 auto;
}
.container-final{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.flex-column{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}
.container-final h3{
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 30px;
    font-size: 30px;
}
/* footer */
.first-page footer,.download footer{
    background-color: var(--color-secondary-color);
    color: var(--color-primary-color);
    padding-top: 50px; 
    font-size: 15px;
}
.container-footer{
    width: calc(100%/5);
}
.first-page footer ul,.download footer ul{
    list-style: none;
    line-height: 2.5em;
    padding-bottom: 15px;
}
.column{ 
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: stretch;
}
.image-container{
    width: 25px;
    margin: 0 auto;
}
.text-violet{
    color: var(--color-footer-color);
    padding-left: 15px;
}
.big-text{
    color: var(--color-footer-color);
    padding-bottom: 10px;
    font-size: 35px;
}
.footer-bottom{
    border-top: 1px solid var(--color-footer-color);
    padding-top: 20px;
    padding-bottom: 40px;
}
.b-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#languages{
    background-color: var(--color-secondary-color);
    color: var(--color-primary-color);
    border: 1px solid var(--color-secondary-color);
}

/* main download page */
.box h2{
    padding: 20px;
}
.m-flex-column{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.m-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    background-color: var(--color-section-color);
    padding:30px;
    margin: 10px;
    text-align: center;
}
.ios p{
    padding-bottom: 30px;
}
/* footer download */
.h-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}