*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Yantramanav;
}

/* color */
:root {
	--color-nav: #255ee9;
	--color-primary-color: #ffffff;
	--color-secondary-color: #23272a;
	--color-section-color: #f6f6f6;
	--color-footer-color: #7288da;
}
.container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}
.button{
    border-radius: 25px;
    padding: 12px;
    margin-right: 10px;
}
.small-button{
    font-size: 15px;
}
.big-button{
    font-size: 20px;
}
.title{
    font-size: 55px;
}
.small-title{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
}
i{
    padding-right: 5px;
}
/* header */
header{
    background-image: url("../img/jumbo.png");
    min-height: 400px;
    background-size: cover;
}
nav{
    background-color: var(--color-nav);
    padding: 10px;
}
ul{
    list-style: none;
    display: flex;
}
a, a:hover{
    text-decoration: none;
    animation: none;
    color: white;
    padding: 15px;
}
.intro{
    text-align: center;
    color: white;
    padding: 100px;
}
.container-intro{
    max-width: 783px;
    margin: 0 auto;
}
.b-white{
    background-color: var(--color-primary-color);
    color: var(--color-secondary-color);
}
.b-black{
    background-color: var(--color-secondary-color);
    color: var(--color-primary-color);
}
.b-set{
    padding: 20px;
}

/* main */
.padding{
    padding-bottom: 100px;
    padding-top: 80px;
}
.bg-grey{
    background-color: var(--color-section-color);
}
.flex-section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: flex-start;
}
.text{ 
    padding-top: 50px;
}
.reverse{
    flex-direction: row-reverse;
}
.four-section .text, h3{
    text-align: center;
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
}
.four-section img{
    width: 100%;
    margin: 0 auto;
}
.container-final{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.container-final h3{
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 40px;
    font-size: 32px;
}
.b-blue{
    background-color: var(--color-footer-color);
    color: var(--color-primary-color);
}

/* footer */
footer{
    background-color: var(--color-secondary-color);
    color: var(--color-primary-color);
    padding-top: 50px;
    font-size: 18px;
}

.f-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
}

.f-column{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
}
.image-container img{
    width: 25px;
    margin: 0 auto;
}
.text-blue{
    color: var(--color-nav);
}
.f-column li{
    padding-bottom: 20px;
}
#big-text{
    font-size: 35px;
}
.footer-bottom{
    border-top: 1px solid var(--color-nav);
    padding-top: 20px;
    padding-bottom: 40px;
}
.b-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}